# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


data/*
public/tfmodel_converter_code/data/*
public/tfmodel_converter_code/temp/*
public/tfmodel_converter_code/tfjs-env/*
public/tfmodel_converter_code/venv/*
public/tfmodel_converter_code/ne_venv/*

venv/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
