@import"tailwindcss";

* {
  margin: 0px;
  padding: 0px;
}

.mainnav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background-color: #000000;
  color: whitesmoke;
}

.mainDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingIcon {
  position: absolute;
  right: 10px;
  border: 2px solid white;
  background-color: #F9FAFB;
  color: black;
  border-radius: 12px;
}



.inter-font-title {
  height: 30px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-font-desc {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-font-23 {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-font-20 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.videoFeedDiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.videoInDiv {
  height: 70vh;
  width: 50vw;
  border: 2px solid rgb(210, 202, 202);
  border-radius: 14px;
  margin: 10px;
  box-shadow: 4px 10px 15px rgb(120, 111, 111);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBtns {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}





.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.stopBtn {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #E5E7EB;
  border-radius: 20px;
}

.stopBtn>button {
  padding: 7px 15px 7px 0px;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.startLiveBtn {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #E5E7EB;
  background-color: #10B981;
  border-radius: 10px;
  margin-left: 3px;
}

.startLiveBtn>button {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  margin: 10px 20px 10px 20px;
  font-size: 18px;
}


.camInput {
  height: 100%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  margin-bottom: 5px;
}

.camInput>video,
.camInput>canvas {
  height: 99%;
  width: 99%;
}


.LetterRecognitonDiv {
  width: 95vw;
  display: flex;
  flex-direction: row;
}

.LetterDiv {
  min-width: 20%;
  width: fit-content;
  border-radius: 14px;
  margin: 5px;
  border: 2px solid rgb(210, 202, 202);
  box-shadow: 4px 10px 15px rgb(120, 111, 111);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.WordDiv {
  width: 80%;
  border: 2px solid black;
  border-radius: 14px;
  margin: 5px;
  border: 2px solid rgb(210, 202, 202);
  box-shadow: 4px 10px 15px rgb(120, 111, 111);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.Translate{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Translate>.WordDiv {
  width: 96%;
}

.WordTitle {
  width: 90%;
  margin-left: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
}

.predictedWord {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  min-height: 50px;
  width: 90%;
  border-radius: 14px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  overflow: scroll;
}

.LetterTitle {
  align-self: flex-start;
  margin-left: 20px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
}

.LetterIcon {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.predictedLetter {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 50px;
  width: 90%;
  border-radius: 14px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.translateOpt{
  align-self: flex-end;
  margin-left: auto;
  color: black;
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  font-size: 16px;
}

.translateBtn{
  align-self: flex-end;
  margin-left: 10px;
  background-color: #093a90;
  color: white;
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  font-size: 16px;
}


.desktop-UI {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.desktop-UI .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1272px;
  height: 1813px;
}

.desktop-UI .overlap {
  position: relative;
  height: 2057px;
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 1) 100%,
    rgba(250, 250, 250, 1) 0%
  );
}

.desktop-UI .overlap-group {
  position: absolute;
  width: 1272px;
  height: 101px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-color: #6b7280;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 1px 3px #0000001a, 0px 1px 2px #0000001a;
}

.desktop-UI .text-wrapper {
  position: absolute;
  top: 21px;
  left: 101px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.desktop-UI .div {
  position: absolute;
  top: 53px;
  left: 101px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop-UI .frame-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 1183px;
  background-color: #f9fafb;
  border-radius: 12px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop-UI .frame {
  position: relative;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
  background-color: #ffffff;
}

.desktop-UI .vector-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-image: url(./img/vector-5.svg);
  background-size: 100% 100%;
}

.desktop-UI .vector {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  left: 6px;
}

.desktop-UI .rectangle {
  position: absolute;
  width: 65px;
  height: 63px;
  top: 22px;
  left: 22px;
  object-fit: cover;
}

.desktop-UI .overlap-2 {
  position: absolute;
  width: 1193px;
  height: 893px;
  top: 133px;
  left: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 20px 25px #0000001a, 0px 8px 10px #0000001a;
}

.desktop-UI .rectangle-2 {
  position: absolute;
  width: 1191px;
  height: 97px;
  top: 0;
  left: 0;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-color: #f3f4f6;
}

.desktop-UI .img-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 36px;
  left: 24px;
}

.desktop-UI .img {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.desktop-UI .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 60px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .rectangle-3 {
  position: absolute;
  width: 113px;
  height: 38px;
  top: 29px;
  left: 872px;
  background-color: #f9fafb;
  border-radius: 26843500px;
  border: 1px solid;
  border-color: #e5e7eb;
}

.desktop-UI .rectangle-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 42px;
  left: 889px;
  background-color: #ef4444;
  border-radius: 26843500px;
}

.desktop-UI .text-wrapper-3 {
  position: absolute;
  top: 37px;
  left: 912px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #374151;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop-UI .rectangle-5 {
  position: absolute;
  width: 165px;
  height: 48px;
  top: 24px;
  left: 1002px;
  background-color: #10b981;
  border-radius: 12px;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 10px 15px #0000001a, 0px 4px 6px #0000001a;
}

.desktop-UI .text-wrapper-4 {
  position: absolute;
  width: 113px;
  top: 35px;
  left: 1028px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-UI .rectangle-6 {
  position: absolute;
  width: 1191px;
  height: 794px;
  top: 96px;
  left: 0;
  background-color: #f8fafc;
}

.desktop-UI .IMAGE {
  position: absolute;
  width: 1191px;
  height: 794px;
  top: 96px;
  left: 0;
  object-fit: cover;
}

.desktop-UI .rectangle-7 {
  position: absolute;
  width: 1191px;
  height: 794px;
  top: 96px;
  left: 0;
  background-color: #ffffff;
}

.desktop-UI .rectangle-8 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 401px;
  left: 547px;
  background-color: #000000;
  border-radius: 26843500px;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 20px 25px #0000001a, 0px 8px 10px #0000001a;
}

.desktop-UI .frame-2 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 425px;
  left: 571px;
}

.desktop-UI .vector-2 {
  position: absolute;
  width: 38px;
  height: 26px;
  top: 11px;
  left: 5px;
}

.desktop-UI .text-wrapper-5 {
  position: absolute;
  top: 520px;
  left: 520px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .p {
  position: absolute;
  top: 556px;
  left: 382px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6b7280;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-3 {
  position: absolute;
  width: 369px;
  height: 299px;
  top: 1057px;
  left: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 20px 25px #0000001a, 0px 8px 10px #0000001a;
}

.desktop-UI .div-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 33px;
  left: 33px;
  background-color: #000000;
  border-radius: 12px;
}

.desktop-UI .frame-3 {
  position: relative;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}

.desktop-UI .vector-3 {
  position: absolute;
  width: 14px;
  height: 17px;
  top: 2px;
  left: 3px;
}

.desktop-UI .text-wrapper-6 {
  position: absolute;
  top: 37px;
  left: 84px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-4 {
  position: absolute;
  width: 306px;
  height: 170px;
  top: 97px;
  left: 33px;
  background-color: #cbd2e269;
  border-radius: 16px;
  border: 1px solid;
  border-color: #000000;
}

.desktop-UI .text-wrapper-7 {
  position: absolute;
  top: 31px;
  left: 122px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.desktop-UI .text-wrapper-8 {
  position: absolute;
  top: 83px;
  left: 91px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #6b7280;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-5 {
  position: absolute;
  width: 802px;
  height: 299px;
  top: 1057px;
  left: 423px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 20px 25px #0000001a, 0px 8px 10px #0000001a;
}

.desktop-UI .overlap-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 33px;
  left: 29px;
  background-color: #000000;
  border-radius: 12px;
}

.desktop-UI .vector-4 {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 2px;
  left: 2px;
}

.desktop-UI .text-wrapper-9 {
  position: absolute;
  top: 37px;
  left: 80px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-7 {
  position: absolute;
  width: 740px;
  height: 170px;
  top: 97px;
  left: 29px;
  background-color: #cbd3e269;
  border-radius: 16px;
  border: 1px solid;
  border-color: #000000;
}

.desktop-UI .text-wrapper-10 {
  position: absolute;
  top: 38px;
  left: 257px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.desktop-UI .text-wrapper-11 {
  position: absolute;
  top: 78px;
  left: 302px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-8 {
  position: absolute;
  width: 1193px;
  height: 349px;
  top: 1398px;
  left: 40px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  box-shadow:
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 20px 25px #0000001a, 0px 8px 10px #0000001a;
}

.desktop-UI .overlap-9 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 28px;
  left: 35px;
  background-color: #000000;
  border-radius: 12px;
}

.desktop-UI .vector-5 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 2px;
  left: 1px;
}

.desktop-UI .text-wrapper-12 {
  position: absolute;
  top: 33px;
  left: 83px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-10 {
  position: absolute;
  width: 348px;
  height: 62px;
  top: 28px;
  left: 804px;
  background-color: #cbd3e269;
  border-radius: 12px;
  border: 1px solid;
  border-color: #000000;
}

.desktop-UI .text-wrapper-13 {
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-UI .text-wrapper-14 {
  position: absolute;
  top: 16px;
  left: 262px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop-UI .overlap-11 {
  position: absolute;
  width: 1127px;
  height: 209px;
  top: 106px;
  left: 33px;
  background-color: #cbd3e269;
  border-radius: 16px;
  border: 1px solid;
  border-color: #000000;
}

.desktop-UI .text-wrapper-15 {
  position: absolute;
  top: 57px;
  left: 401px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.desktop-UI .text-wrapper-16 {
  position: absolute;
  top: 93px;
  left: 481px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}


.suggestionsDiv {
  width: 100%;
  min-height: 63px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  padding: 18px 0;
  border-radius: 14px;
  gap: 20px;
}

.suggestionsDiv div {
  padding: 5px 5%;
  cursor: pointer;
  transition: background 0.2s ease;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.suggestionsDiv div:hover {
  background-color: #f0f0f0;
}

